<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <style>
        div {
            text-align: center;
        }
        h1{
            font-family: 'Yusei Magic', sans-serif;
            font-size: 40px;
        }
    </style>
</head>

<body>
    {% if data == 0%}
    <div>
        <h1>sadness</h1>
        <img src="https://media.giphy.com/media/BEob5qwFkSJ7G/giphy.gif" alt="" height="500px" width="700px">
    </div>
    {% elif data == 1%}
    <div>
        <h1>Worry</h1> <br><br>
        <img src="https://media.giphy.com/media/xUPJPzcdlbvaFUrF7y/giphy.gif" alt="" height="500px" width="700px">
    </div>
    {% elif data == 2%}
    <div>
        <h1>Surprise</h1>
        <img src="https://media.giphy.com/media/3o7aCZDlmQZLe4Q4V2/giphy.gif" alt="" height="500px" width="700px">
    </div>
    {% elif data == 3%}
    <div>
        <h1>Happiness</h1><br><br>
        <img src="https://media.giphy.com/media/IoMkSXKHQIDVm/giphy.gif" alt="" height="500px" width="700px">
    </div>
    {% elif data == 4%}
    <div>
        <h1>Anger</h1>
        <img src="https://media.giphy.com/media/90FH7I3McAQ7u/giphy.gif" alt="" height="500px" width="700px">
    </div>
    {% endif %}

</body>

</html>
<!-- Good sunny day today -->
<!-- she looks so cute -->
<!-- My favourite team won yeah!! -->
<!-- I fell from my bike and broke my arm -->
<!-- she love me -->
<!-- how the hell did they won! -->
<!-- we won the tournament -->